<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
        <title></title>
          button{width: 100px;}input{width: 300px;}
          #personData {
              float:left;
          }
          #eventData {
              float:left;
          }
        </style>
    </head>
    <body>
        TestDataMessage:<br>
          <input type="text" name="Test data message" id="testDataMessage">
        <br>
        TestDataCommand:<br>
          <input type="text" name="Test data command" id="testDataCommand">
        <br>

        <button id="testCommandButton">Run test command</button>
        <button id="test">test</button>
        <button id="clear">clear</button>

        <ul id='messages'></ul>

        <script src='/socket.io/socket.io.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>

            var test = [
//              {case: 'Create a user', command: 'create', data: {content: 'person', name: 'TEST_Name 1', email: 'TEST_email1@gmail.com', password: "TEST_password1", height: "170"}},
//              {case: 'Read user data', command: 'read', data: {content: 'person', person_ID: ''}},
//              {case: 'Update user', command: 'update', data: {content: 'person', name: 'CME_TEST Name 2', email: 'CME_TEST email1@gmail.com', password: "CME_TEST password1", avatar: '2'}},
//              {case: 'Create a healthdata', command: 'create', data: {content: 'healthdata', patient_ID: '', date: '2016-01-01', time: '01:00:00', type: 'CME_TEST type of healthdata 1', value: 'CME_TEST value 1'}},
              {case: 'Create a weight', command: 'create', data: {content: 'weight', person_ID: '1', date: '2016-01-01', weight: '92.3'}}
//              {case: 'Delete healthdata', command: 'delete', data: {content: 'healthdata', healthdata_ID: ''}},
//              {case: 'Delete user', command: 'delete', data: {content: 'person', person_ID: ''}}
            ];

            var testIndex = 0;
            var personIndex = 0;
            var patientIndex = 0;
            var healthcareIndex = 0;
            var eventIndex = 0;
            var statusIndex = 0;
            var sideeffectIndex = 0;
            var beverageIndex = 0;
            var nutritionIndex = 0;
            var setupSocketForTest = false;

            function sendTestCommand(){
  //              addMessage('sendTestCommand with setUpSocketForTest =' + setupSocketForTest)
                if (setupSocketForTest === false) setupSocketOnDataForTest();
                if (testIndex < test.length){
                  addMessage('RUN test number : ' +testIndex +', test case: ' +test[testIndex].case);
                  switch (test[testIndex].data.content){

                    case 'person':
                      test[testIndex].data.person_ID = personIndex;
                      break;

                    case 'patient':
                      test[testIndex].data.person_ID = personIndex;
                      test[testIndex].data.patient_ID = patientIndex;
                      break;

                    case 'healthcare':
                      test[testIndex].data.healthcare_ID = healthcareIndex;
                      test[testIndex].data.patient_ID = patientIndex;
                      break;

                    case 'event':
                      test[testIndex].data.patient_ID = patientIndex;
                      test[testIndex].data.person_ID = personIndex;
                      test[testIndex].data.healthcare_ID = healthcareIndex;
                      test[testIndex].data.event_ID = eventIndex;
                      break;

                    case 'status':
                      test[testIndex].data.patient_ID = patientIndex;
                      test[testIndex].data.person_ID = personIndex;
                      test[testIndex].data.status_ID = statusIndex;
                      break;

                    case 'sideeffect':
                      test[testIndex].data.patient_ID = patientIndex;
                      test[testIndex].data.person_ID = personIndex;
                      test[testIndex].data.sideeffect_ID = sideeffectIndex;
                      break;

                    case 'beverage':
                      test[testIndex].data.patient_ID = patientIndex;
                      test[testIndex].data.beverage_ID = beverageIndex;
                      break;

                    case 'nutrition':
                      test[testIndex].data.patient_ID = patientIndex;
                      test[testIndex].data.nutrition_ID = nutritionIndex;
                      break;

                  }
                  addMessage('SEND command ' +test[testIndex].command +' with data '+(JSON.stringify(test[testIndex].data)));
                  socket.emit(test[testIndex].command, JSON.stringify(test[testIndex].data));
                }
            }

            var socket = io();
            var setupSocketOn = false;

            $('#testCommandButton').click(function(){
              if (!setupSocketOn){
                socket.on('data', function(data) {
                    console.log('[CME]: data recieved')
                    addMessage('RECIEVE'+data);
                    setupSocketOn = true
                })
              }
              var data = document.getElementById("testDataMessage").value;
              var command = document.getElementById("testDataCommand").value;
              var message = 'Send command '+command +' with data ' +data;
              addMessage(message);
              socket.emit(command,data);
            });

            $('#test').click(function(){
              addMessage('Start test program');
              testIndex = 0;
              sendTestCommand();
            });

            $('#clear').click(function(){
              addMessage('Clear the database');
              var msgData = {content: "blackhole"};
              socket.emit("delete", JSON.stringify(msgData))
            });

            socket.on('welcome', function(data) {
                addMessage(data);
                console.log('Welcome Cient to CME server');

                // Respond with a message including this clients' id sent from the server
                socket.emit('i am client', {data: 'Client ready for business', id: data.id});
            });

            function setupSocketOnDataForTest(){
//              addMessage('setUpSocketOnDataForTest')
              setupSocketForTest = true;
              socket.on('data', function(data) {
                  console.log('[CME]: data recieved')
                  addMessage('RECIEVE'+data);
                  if (test[testIndex].command == "create") {
                    console.log("[CME] data "+data);
                    var index = data.indexOf("},{");
                    console.log("[CME] index "+index);
                    var subData = data.substr(index+2);
                    console.log('[CME] show subdata = '+subData)
                    var object = JSON.parse(subData);
                    console.log(object);
                    if (object != null) {

                      switch (test[testIndex].data.content){

                          case 'person':
                            personIndex = object.person_ID;
                            test[testIndex].data.person_ID = personIndex;
                            break;

                          case 'patient':
                            patientIndex = object.patient_ID;
                            test[testIndex].data.patient_ID = patientIndex;
                            break;

                          case 'healthcare':
                            healthcareIndex = object.healthcare_data[0].healthcare_ID;
                            test[testIndex].data.healthcare_ID = healthcareIndex;
                            break;

                          case 'event':
                            eventIndex = object.event_data[0].event_ID;
                            test[testIndex].data.event_ID = eventIndex;
                            break;

                          case 'status':
                            statusIndex = object.status_data[0].status_ID;
                            test[testIndex].data.status_ID = statusIndex;
                            break;

                          case 'sideeffect':
                            sideeffectIndex = object.sideeffect_data[0].sideeffect_ID;
                            test[testIndex].data.sideeffect_ID = sideeffectIndex;
                            break;

                          case 'beverage':
                            beverageIndex = object.beverage_data[0].beverage_ID;
                            test[testIndex].data.beverage_ID = beverageIndex;
                            break;

                      }
                    }
                  }
                  testIndex++;
                  sendTestCommand();
              });

            }


            socket.on("disconnect", function(){
                console.log("client disconnected from server");
            });

            function addMessage(message) {
                var text = document.createTextNode(message),
                    el = document.createElement('li'),
                    messages = document.getElementById('messages');

                el.appendChild(text);
                messages.appendChild(el);
            }
        </script>
    </body>
</html>
